[Unit]
Description=Grantora Podman pod
PartOf=grantora.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
EnvironmentFile=-%S/state/runtime.env
WorkingDirectory=%S/state
ExecStartPre=/usr/bin/mkdir -p %S/state/containers
ExecStart=/usr/bin/podman pod create \
    --replace \
    --name=grantora \
    --publish=127.0.0.1:${TCP_PORT}:9080
ExecStop=/usr/bin/podman pod stop --ignore grantora
ExecStopPost=/usr/bin/podman pod rm --ignore --force grantora

[Install]
WantedBy=default.target