#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Grantora runtime
Wants=grantora-pod.service
Wants=grantora-postgres.service
Wants=grantora-apisix-etcd.service
Wants=grantora-api.service
Wants=grantora-apisix.service
After=grantora-pod.service
After=grantora-postgres.service
After=grantora-apisix-etcd.service
After=grantora-api.service
After=grantora-apisix.service
ConditionPathExists=%S/state/environment
ConditionPathExists=%S/state/secrets.env
ConditionPathExists=%S/state/runtime.env
ConditionPathExists=%S/state/grantora.env
ConditionPathExists=%S/state/postgres.env
ConditionPathExists=%S/state/apisix.env
ConditionPathExists=%S/state/apisix-config.yaml

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target
